.formAluno {
    padding: 20px;
    width: 300px;
    }
    input[type=text] {
    display: inline-block;
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    }
    .inclui-container {
    margin-top: 24px;
    border-radius: 50px;
    background-color: #f1ceec;
    padding: 40px;
}
.btnInserir {
    background-color: rgb(114, 241, 182);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
label {
    padding: 10px;
}